form-group {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  margin: 2rem 5rem;
}
.btn {
  padding: .3rem;
  outline: none;
  border: none;
  margin-top: 1rem;
}

input {
  border-radius: 4px;
  padding: .3rem;
  outline: none;
  margin-left: 1rem;
}